---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Progressive Women's Action Coalition">
  <p class="center">
    <img
      src="/logo.jpg"
      alt="Progressive Women's Action Coalition"
      width="256"
    />
  </p>

  <h1>Progressive Women's Action Coalition</h1>

  <p>
    We are a progressive, women-led organization dedicated to providing aid,
    education, and advocacy in rural northeast Alabama. We are united in our
    commitment to progress and equity for all, striving to build a stronger,
    more inclusive future.
  </p>

  <h2>Links</h2>

  <p>
    Find us on <a href="https://www.facebook.com/profile.php?id=61572008159461"
      >Facebook</a
    >,
    <a href="https://www.instagram.com/progressive_womens_coalition/"
      >Instagram</a
    >,
    <a href="https://substack.com/@pwac1">Substack</a>, and <a
      href="https://account.venmo.com/u/PWACAL">Venmo</a
    >
  </p>

  <p>
    You can also email us at <a href="mailto:actionmattersdekalbal@gmail.com"
      >actionmattersdekalbal@gmail.com</a
    >
  </p>

  <h2>Recent Substack Posts</h2>

  <!-- Feed embed code -->
  <div data-supascribe-embed-id="922699764771" data-supascribe-feed></div>

  <!-- Supascribe Script -->
  <script
    src="https://js.supascribe.com/v1/loader/UWevReQ1O1dTRraBckerdyPYSjJ3.js"
    async></script>

  <h2>Recent BlueSky Posts</h2>

  <bsky-embed username="pwacal.bsky.social" limit="3"></bsky-embed>

  <script
    is:inline
    type="module"
    src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js"
    async></script>
</Layout>
