---
const { title } = Astro.props;
const { frontmatter } = Astro.props;

const pageTitle = frontmatter ? frontmatter.title : title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
  <style is:global>
    body {
      background: #f5f9fd;
      max-width: 800px;
      margin: auto auto 4em;
      padding: 1em;
      font-family: Avenir, Helvetica, Arial, sans-serif;
    }

    h1 {
      text-align: center;
    }

    .center {
      text-align: center;
    }
  </style>
</html>
